@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

// html {
//   cursor: url('/server/public/images/littlepencil.png'), auto;
// }

html,
body {
  font-family: 'Caveat', cursive;
  font-size: larger;
  background-color: rgb(255, 252, 247);
  // background-image: url('/server/public/images/Lined_paper_light.png');
  // background-image: url('/server/public/images/Lined_paper_wide.png');
  // background-image: url('/server/public/images/wide_lined.jpg');
  // background-image: url('/server/public/images/Lined_paper.jpeg');
  // background-image: url('/server/public/images/crumple-brown.jpg');
  // background-image: url('/server/public/images/crumple-white.png');
  // background-image: url('/server/public/images/lightly_scrunched.png');
  background-repeat: no-repeat;
  // background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.table {
  font-family: 'Caveat', cursive;
  border-collapse: collapse;
  width: 100%;
}

input {
  font-family: 'Caveat', cursive;
  background-color: rgb(255, 252, 247);
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9c9c9c;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  color: #4a4848;
  padding: 10px;
  align-self: stretch;
}

.logo {
  width: 50%;
  display: flex;
  flex-direction: row;
}

// this is the pencil
.pencil {
  padding-top: 5px;
  height: 35px;
  width: auto;
}

.sign {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  text-align: right;
  justify-content: right;
  gap: 10px;
}

a {
  color: inherit;
}

.MainLogo {
  min-height: 200%;
  width: auto;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 8%;
}

.nav-item {
  width: 50%;
  text-align: right;
}

.app {
  display: flex;
  flex-direction: column;
  // gap: 100px;
  gap: 50px;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: larger;
}

.message {
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
}

// this makes the buttons sit side by side and have a bit of a gap between them
.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ping {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Research component

body {
  font-family: 'Caveat', cursive;
}

p {
  color: #4a4848;
  padding: 0px;
  margin: 0px;
  font-size: 130%;
}

h1 {
  color: #4a4848;
  padding: 0px;
  margin: 0px;
}

h2 {
  color: #4a4848;
  padding: 0px;
  margin: 0px;
}

img {
  height: 100px;
  width: 100px;
  align-items: center;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

// for the pencil in the square

.pencilButtons {
  display: flex;
  flex-direction: row;
}

.subGoalCreator {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
  border-color: #4a4848;
  // padding: 5px;
  margin: 20px;
  height: 120px;
  width: 160px;
  text-align: center;
}

.pencilButtonImg {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-bottom: 0px;
}

.pencilButtonText {
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 0px;
  text-align: center;
  // overflow: scroll;
  font-size: clamp(10%, 80%, 130%);
}

button {
  font-family: 'Caveat', cursive;
  font-size: larger;
  background-color: rgb(250, 250, 250);
  color: #4a4848;
  box-shadow: 0px 2px rgb(71, 71, 71);
}

button:hover {
  color: rgb(106, 106, 110);
}

// speech bubble, ENSURE YOU USE AS className="speechBubble tail"
.speechBubble {
  width: 300px;
  margin: 50px auto;
  border: 1px solid rgb(148, 147, 147);
  padding: 10px;
  text-align: center;
  color: #4a4848;
  font-family: 'Caveat';
  position: relative;
  border-radius: 25px;
  gap: 50px;
}

.tail:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid rgb(148, 147, 147);
  border-top: 10px solid rgb(148, 147, 147);
  border-bottom: 10px solid transparent;
  right: 23px;
  bottom: -20px;
}

.tail:after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid rgb(255, 252, 247);
  border-top: 20px solid transparent;
  border-bottom: 15px solid transparent;
  right: 24px;
  bottom: -18px;
}

// Mascot
.mascot {
  height: 20rem;
}
.mascot.centered {
}

// Buddy Component
.Buddy {
  height: 25%;
  width: auto;
  position: fixed;
  right: 0;
  bottom: 0;
}

.hamburgerMenu {
  position: fixed;
  bottom: 25%;
  right: 3%;
}

.menuHover:hover {
  color: #9c9c9c;
}

ul {
  list-style-type: none;
  text-decoration: none;
  color: #4a4848;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #4a4848;
}

a:hover {
  color: rgb(113, 116, 114);
}

// animation fade
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.DailyLearning {
  padding-top: 5%;
  text-align: center;
  line-height: 250%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    padding-bottom: 10%;
    padding-top: 10%;
  }
}

.veteran-view {
  padding: 21%;
  display: flex;
  flex-direction: column;
  .speechBubble:hover {
    color: rgb(106, 106, 110);
  }
}

//Welcome Page

.WelcomeMessage {
  padding-top: 5%;
  text-align: center;
  line-height: 250%;
}

.planbuddy-welcome {
  .Buddy {
    height: 34%;
    width: auto;
    position: absolute;
    right: 40%;
    bottom: 0;
  }
}

//research page component
//component to replace nav bar
.blank-nav {
  padding-top: 10%;
}

//blank nav for subgoal and goal
.blank-nav2 {
  padding-top: 1%;
}

// blank nav for research
.blank-nav2 {
  padding-top: 0%;
  border-top: 0%;
  margin-top: 0%;
}

.new-goal {
  font-size: 120%;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 300%;
}

//NewGoal Component text field
//creates a textbox line

.textbox-input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: 70%;
  color: #9c9c9c;
  border-color: #9c9c9c;
}

//CreateSubgoal component

.subgoal-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  line-height: 300%;
  gap: 5%;
  margin-top: -74px;
  margin-bottom: -64px;

  p {
    text-align: center;
    padding-bottom: 0%;
  }

  form {
    text-align: center;
    padding-top: 0%;
    padding: 10%;
  }

  li {
    line-height: 135%;
    text-align: center;
    font-size: 110%;
    color: #4a4848;
  }
  a {
    line-height: 135%;
    text-align: center;
  }

  button {
    align-items: center;
    font-size: 80%;
  }

  list {
    align-items: center;
  }

  span {
    color: #4a4848;
  }

  .speechBubble {
    height: 400px;
    overflow: overlay;
    overflow-x: hidden;
  }
}

input::placeholder {
  font-size: 150%;
  color: #9c9c9c;
}

.h1-research {
  line-height: 90%;
}

// for the goal button thingys on goal overview
.flex {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
}

.link {
  cursor: alias;
  color: #4a4848;
}

.link:hover {
  color: #9c9c9c;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.DailyLearningPositioning {
  display: flex;
  flex-direction: row;
}

.left1 {
  position: absolute;
  left: 5%;
  bottom: 690px;
}

.left2 {
  position: absolute;
  left: 5%;
  bottom: 486px;
  overflow: hidden;
  width: 24%;
}

.reflections-text {
  font-family: 'Caveat';
  font-size: 90%;
  color: #4a4848;
  border-color: #4a4848;
  background-color: rgb(255, 252, 247);
}

span {
  color: #4a4848;
}

//buddy's quotes

.quote-bubble {
  font-size: 110%;
  // height: 25%;
  // width: auto;
  position: fixed;
  right: 10%;
  bottom: 20%;
  box-shadow: 0px 3px rgb(139, 139, 139);
  border-color: rgb(139, 139, 139);
  background-color: rgb(255, 252, 247);
}

.bottom-left {
  position: fixed;
  left: 0%;
  bottom: 0%;
}

.text-hover {
  color: #4a4848;
}

.text-hover:hover {
  color: #9c9c9c;
}

.subgoal-name {
  color: #4a4848;
  size: 100%;
  background-color: rgb(255, 252, 247);
  border: none;
  font-size: 200%;
  text-align: center;
}
