@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html,
body {
  font-family: 'Caveat', cursive;
  font-size: larger;
}

.table {
  font-family: 'Caveat', cursive;
  border-collapse: collapse;
  width: 100%;
}

input {
  font-family: 'Caveat', cursive;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9c9c9c;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  color: rgb(8, 6, 6);
  padding: 10px;
  align-self: stretch;
}

.logo {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.pencil {
  padding-top: 30px;
  height: 35px;
  width: auto;
}

.sign {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  text-align: right;
  justify-content: right;
  gap: 10px;
}

a {
  color: inherit;
}

.nav-item {
  width: 50%;
  text-align: right;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: larger;
}

.message {
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ping {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Research component

body {
  font-family: 'Caveat', cursive;
}

p,
h1 {
  color: #4a4848;
  // padding: 0px;
  // margin: 0px;
}

// this img refers to the pencil next to the PlanBuddy Logo
img {
  height: 100px;
  width: 100px;
  align-items: center;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

// for the pencil in the square

.pencilButtons {
  display: flex;
  flex-direction: row;
}

.subGoalCreator {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
  border-color: #4a4848;
  // padding: 5px;
  margin: 20px;
  height: 120px;
  width: 160px;
}

.pencilButtonImg {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-bottom: 0px;
}

.pencilButtonText {
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 10px;
}

button {
  font-family: 'Caveat', cursive;
  font-size: larger;
}

// Mascot
.mascot {
  height: 20rem;
}
.mascot.centered {
}

// Buddy Component
.Buddy {
  height: 25%;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0;
}

.hamburgerMenu {
  position: absolute;
  bottom: 25%;
  right: 3%;

  // padding-bottom: 25%;
  // padding-right: 5%;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  color: rgb(113, 116, 114);
}

// animation fade
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.speech-bubble {
  width: 300px;
  margin: 50px auto;
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #000000;
  font-family: inherit;
  position: relative;
}

.speech-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000000;
  border-bottom: 10px solid transparent;
  right: 10%;
  bottom: -23px;
 }

 .speech-bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 10%;
  bottom: -18px;
 }